//// Colors
// Primary
$veryLightGray: #F0F1F8;

// Warm
$darkBlue: #22242A;
$softRed: rgb(253, 90, 86);

// Accent 
$lightGreen: #6bdd52;
$cyan: #5CE1E6;

// Font Sizes
$font-xlg: 12.5rem; // 200px
$font-msm: 6.25rem; // 100px
$font-lg: 3.125rem; // 50px
$font-mlg: 1.875rem;// 40px
$font-med: 1.25rem; // 20px
$font-sm: 1rem; // 16px
$font-vsm: 0.875rem; // 14px


//// Percentages
$percents: 95, 90, 90, 85, 90, 80, 72, 70, 58, 50, 42;